<%= @trip.id %><br> 
<%= @trip.destination %><br>
<%= @trip.date %><br>
<%= @trip.budjet %>

<form method="post" action="/trips/<%= @trip.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>