Welcome, <%= @user.username %><br>

<br>
Planned trips(<%= @user.trips.count %>)<br>
<br>
<% @user.trips.each do |trip| %>
    <a href="/trips/<%= trip.id %>"> Trip <%= trip.id %><br> </a>
    Destination: <%= trip.destination %><br>
    Date: <%= trip.date %><br>
    Budjet: <%= trip.budjet %><br>
    <br>
<% end %>

<a href="/trips/new"> Add new travel plans </a>